/node_modules
/UploadedImages
/public/Resources/MSI/
/public/Resources/addon/*.zip
/public/Resources/*.cab
/public/Resources/*.exe
/public/Resources/*.pkg
/public/Resources/*.msi
/public/Resources/dynamsoft.webtwain.initiate.js