doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ds.demo.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/dwt/dist/dynamsoft.webtwain.min.js')
    script(src='/javascripts/dwt_jade.js')
  body
    block content
