doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ds.demo.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/Resources/dynamsoft.webtwain.initiate.js')
    script(src='/Resources/dynamsoft.webtwain.config.js')
    script(src='/javascripts/dwt_jade.js')
  body
    block content
